<div class="header">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        Heroes of Might and Magic III
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img class="image" src="../../assets/heroes3.jpg" alt="Basic Example">
    </mat-card-content>
    <mat-card-content>
      <p>
        Heroes of Might and Magic III: The Restoration of Erathia (commonly referred to as Heroes of Might & Magic 3, or simply Heroes 3) is a turn-based strategy game developed by Jon Van Caneghem through New World Computing originally released for Microsoft Windows by the 3DO Company in 1999. Its ports to several computer and console systems followed in 1999–2000. It is the third installment of the Heroes of Might and Magic series. The game's story is first referenced throughout Might and Magic VI: The Mandate of Heaven and serves as a prequel to Might and Magic VII: For Blood and Honor. The player can choose to play through seven different campaigns telling the story, or play in a scenario against computer or human opponents (<a class="wiki-link" href="https://en.wikipedia.org/wiki/Heroes_of_Might_and_Magic_III" target="_blank">link</a>).
      </p>
    </mat-card-content>
  </mat-card>
</div>
